.code-header {
  // display: flex;
  // justify-content: flex-end;
  // background-color: var(--code-bg);
  width: fit-content;
  float: right;
  margin: 4px 4px 0px 0px;
}

.copy-code-button {
  background-color: var(--code-bg);
  color: var(--body-color);
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1px 4px 4px;
  border: 3px solid var(--code-bg);
  border-radius: 3px;

  // &::before {
  //   content: "Copy";
  // }

  &::after {
    content: "📋";
    display: block;
  }

  // This class will be toggled via JavaScript
  &.copied {
    &::before {
      content: "Copied!";
      font-size: 16px;
    }

    &::after {
      content: "✔️";
    }
  }
}

.copy-code-button:hover {
  border: 3px solid var(--border-color);
  border-radius: 5px;
}
