---
layout: default
---

{%-include back_link.html-%}

<h1>{{ page.title }}</h1>

{%-include post_list.html category=page.which_category-%}

<!-- HTML elements for search -->
<!-- <ul class="posts">
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">posts</h1>
    <div class="search-container">
      <div class="search-section">
        <i class="icon-search"></i>
        <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
      </div>
      <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
    </div>
  </li>

  {%- for post in site.posts -%}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}">
        <h2 class="post-title">{{ post.title | escape }}</h2>
      </a>
      <div class="post-meta">
        <div class="post-date">
          <i class="icon-calendar"></i>
          {{ post.date | date: date_format }}
        </div>
        {%- if post.categories.size > 0-%}
        <ul class="post-categories">
          {%- for tag in post.categories -%}
          <li>{{ tag }}</li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
      </div>
      <div class="post">
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </div>
    </li>
  {%- endfor -%}
</ul> -->